name: CI Pipeline  

on:  
  push:  
    branches: [ main ]  
  pull_request:  
    branches: [ main ]  

jobs:  
  build:  
    runs-on: ubuntu-latest  

    env:  
      DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}

    steps:  
      - name: Checkout code  
        uses: actions/checkout@v2  

      - name: Setup .NET Core  
        uses: actions/setup-dotnet@v2  
        with:  
          dotnet-version: '8.0.x'  

      - name: Restore dependencies  
        run: dotnet restore  MyApp/MyApp.csproj

      - name: Download DeepSource CLI  
        run: curl https://deepsource.io/cli | sh 

      - name: Build  
        run: dotnet build MyApp/MyApp.csproj --no-restore  

      - name: Run tests  
        run: dotnet test MyApp/MyApp.csproj --no-build --verbosity normal  

      - name: Run DeepSource Analysis  
        run: ./bin/deepsource --key csharp --analyzer run --path MyApp/MyApp.csproj --config-file .deepsource.toml
